/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-rdev-l2wp {

	&__buttons {
		display: flex;
		flex-flow: row nowrap;
		width: 100%;

		button {
			font-size: inherit;
			font-family: inherit;
			font-weight: inherit;
			cursor: pointer;
			&:hover{
				opacity: .8;
			}
		}
	}
}
