/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-rdev-l2wp {

	&__buttons {
		display: flex;
		flex-flow: row nowrap;
		width: 100%;

		button {
			font-size: inherit;
			font-family: inherit;
			font-weight: inherit;
			cursor: pointer;
			&:hover{
				opacity: .8;
			}

			& span{
				& svg{
					width: var(--icon-size);

					& path{
						fill: var(--icon-fill);
					}
				}
			}
		}
	}

	&__icon-grid{
		display: flex;
		flex-flow: row wrap;
		gap: 1rem;
		margin-bottom: 1rem;
		max-width: 30rem;

		& button{
			width: 16.666%;
			max-width: 2.5rem;
			padding: 0.5rem;
			border: 1px solid #e1e1e1;
			background: white;
			list-style-type: none;
			cursor: pointer;

			&:hover{
				border: 1px solid #111111;
			}

			&.selected{
				background: #111111;
				& svg path {
					fill: #ffffff;
				}
			}
		}
	}
}
